@import "~styles/variables.module.scss";

.container {
  width: 17rem;
  position: relative;
  background: #ffffff;
  box-shadow: rgba(112, 112, 112, 0.2) 0px 7px 29px 0px;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: rgba(112, 112, 112, 0.5) 0px 7px 29px 0px;
    transform: translateY(-3px);
  }
}

.image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  &:global.MuiSkeleton-root {
    width: 100%;
    height: 10rem;
  }
}

.infoContainer {
  width: 100%;
  padding: 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: $primaryDark;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.infoRow {
  display: flex;
  align-items: center;
  color: $darkGrey;
  margin: 0 0 0.3rem 5px;
  .icon {
    color: $grey;
    width: 1rem;
  }
  .infoText {
    margin-left: 0.5rem;
    font-weight: 300;
    span {
      font-weight: 500;
    }
  }
}

.healthLabelsContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 3.2rem;
  .healthLabel {
    background-color: $tertiary;
    padding: 3px 7px;
    border-radius: 50px;
    margin: 0 5px 5px 0;
    p {
      color: $white;
      font-size: 0.75rem;
      font-weight: 300;
    }
  }
}

.saveButtonContainer {
  position: absolute;
  top: 5px;
  right: 5px;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $secondary;
  transition: background 0.2s ease;
  &:hover {
    background: $secondaryDark;
  }
  .buttonIcon {
    color: $white;
    width: 1rem;
  }
}
