@import "~styles/variables.module.scss";

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.container {
  width: 50rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  background: $white;
  pointer-events: all;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @media screen and (max-width: 800px) {
    width: 20rem;
  }
}

.summaryContainer {
  display: flex;
  align-items: center;
  height: 17rem;

  @media screen and (max-width: 800px) {
    height: unset;
    flex-direction: column;
  }
}

.image {
  height: 100% !important;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  @media screen and (max-width: 800px) {
    width: 100%;
    height: 15rem;
  }
}

.summaryInfo {
  height: 100%;
  flex: 1;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.title {
  font-weight: 500;
  font-size: 1.3rem;
  color: $primaryDark;
  @media screen and (max-width: 800px) {
    font-size: 1rem;
  }
}

.infoRow {
  display: flex;
  align-items: center;
  color: $darkGrey;
  .icon {
    color: $grey;
    width: 1rem;
  }
  .infoText {
    margin-left: 0.5rem;
    font-weight: 300;
    @media screen and (max-width: 800px) {
      font-size: 0.85rem;
    }
    span {
      font-weight: 500;
    }
  }
}

.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 20px;
    margin-left: 10px;
    color: $white;
    cursor: pointer;
    transition: background 0.2s ease;
    &.recipe {
      background: $primary;
    }
    &.save {
      background: $secondary;
    }
    &:hover {
      &.recipe {
        background: $primaryDark;
      }
      &.save {
        background: $secondaryDark;
      }
    }
    .icon {
      height: 1rem;
      @media screen and (max-width: 800px) {
        height: 0.8rem;
      }
    }
  }
}

.detailsContainer {
  width: 100%;
  display: flex;
  margin-top: 10px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.labelsContainer {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-weight: 400;
    font-size: 0.8rem;
    @media screen and (max-width: 800px) {
      font-size: 0.7rem;
    }
  }
}

.labelsFlexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.label {
  padding: 3px 7px;
  border-radius: 50px;
  margin: 0 5px 5px 0;
  width: fit-content;
  height: fit-content;
  &.health {
    background: $tertiary;
  }
  &.diet {
    background: $primary;
  }
  &.caution {
    background: $secondary;
  }
  p {
    color: $white;
    font-size: 0.75rem;
    white-space: nowrap;
    @media screen and (max-width: 800px) {
      font-size: 0.7rem;
    }
  }
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  width: 20rem;
  ul {
    padding-left: 20px;
  }
  li {
    color: $darkGrey;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 300;
    white-space: wrap;
    @media screen and (max-width: 800px) {
      font-size: 0.85rem;
    }
  }
}
