@import "~styles/variables.module.scss";

:root {
  --toastify-color-light: #{$tertiary} !important;
  --toastify-text-color-light: #{$white} !important;
}

.Toastify__close-button {
  color: $white !important;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
