$primary: #6da338;
$secondary: #9d677f;
$tertiary: #d27f43;
$primaryDark: #2a4621;
$secondaryDark: #432632;
$tertiaryDark: #af5224;
$white: #fbfff1;
$black: #000000;
$grey: #aeafab;
$darkGrey: #545454;

:export {
  primary: $primary;
  secondary: $secondary;
  tertiary: $tertiary;
  primaryDark: $primaryDark;
  secondaryDark: $secondaryDark;
  tertiaryDark: $tertiaryDark;
  white: $white;
  black: $black;
}
