$primary: #55802a;
$secondary: #9d677f;
$tertiary: #402b45;
$primaryDark: #2a4621;
$secondaryDark: #7b5064;
$white: #f8f8f8;
$black: #000000;
$grey: #aeafab;
$darkGrey: #545454;

:export {
  primary: $primary;
  secondary: $secondary;
  tertiary: $tertiary;
  primaryDark: $primaryDark;
  secondaryDark: $secondaryDark;
  white: $white;
  black: $black;
  grey: $grey;
  darkGrey: $darkGrey;
}
