$primary: #2a9d8f;
$secondary: #e9c46a;
$tertiary: #e76f51;
$primaryDark: #264653;
$secondaryDark: #f4a261;
$white: #ffffff;
$black: #000000;
$grey: #aeafab;
$darkGrey: #545454;

:export {
  primary: $primary;
  secondary: $secondary;
  tertiary: $tertiary;
  primaryDark: $primaryDark;
  secondaryDark: $secondaryDark;
  white: $white;
  black: $black;
  grey: $grey;
  darkGrey: $darkGrey;
}
